.dice{
  margin:0px 50px;
  text-align:center;
  display: inline-block;
}
.top{
  margin:auto;
  width:70%;
  text-align: center;
  color:rgb(208,214,218);
}
body{
  background-image: linear-gradient(to right,#3f5efb,#fc466b);
}
p{
  font-size:2.5rem;
  color:rgb(208,214,218)
}
img {
  width=25%;
  display: inline-block;
  position: relative;
}
footer{
  text-align:center;
  color:rgb(208,214,218)
}
